h1 {
  display: flex;
  align-items: center;
  display: block;

  img {
    width: 4em;
    height: auto;
    padding-right: 1em;
  }
}

div.container {

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  app-chanteur-card {
    display: flex;
    flex: 1 0 232px;
    margin: 2em;
  }
}
