<mat-card
  *ngIf="chanteur"
  data-testid="carte-chanteur"
>
  <mat-card-header [attr.data-testid]="'carte-' + chanteur.id">
    <mat-card-title>{{ chanteur.nom }}</mat-card-title>
    <mat-card-subtitle><cite>&ldquo;{{ chanteur.citation }}&rdquo;</cite></mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [alt]="chanteur.nom" [src]="chanteur.imageUrl"/>

  <mat-card-content>
    {{ chanteur.biographie }}
  </mat-card-content>

  <mat-card-actions class="flex justify-around items-center">
    <mat-icon
      *ngIf="chanteur.aime"
      (click)="removeFavourite.emit(chanteur.id)"
      >favorite</mat-icon
    >
    <mat-icon
      *ngIf="!chanteur.aime"
      (click)="addFavourite.emit(chanteur.id)"
      >favorite_outlined</mat-icon
    >
  </mat-card-actions>

</mat-card>
